{% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        {% include 'partials/head.html' %}
    </head>
    <body class="min-h-screen flex flex-col">
        <header> 
            {% include 'partials/header.html' %}
        </header>
          <main class="flex-grow flex justify-center">
            <div>
            <h1 class="text-3xl font-bold mb-6 p-4">Contato</h1>
            <p class="text-lg p-4">Telefone: (83) 1234-5678</p>
            <p class="text-lg p-4">Email: COMPIA@lojavirtual.com</p>
            <p class="text-lg p-4">Endereço: Rua Jonh Person, 1313 - Campina Grande, PB</p>
            </div>
         </main>
            <footer >
                {% include 'partials/footer.html' %}
            </footer>
    </body>
</html>