{% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Loja Virtual COMPIA</title>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body class="min-h-screen flex flex-col">
        <header> 
            {% include 'partials/header.html' %}
        </header>
          <main class="flex-grow flex justify-center">
            <div>
            <h1 class="text-3xl font-bold mb-6 p-4">Contato</h1>
            <p class="text-lg p-4">Telefone: (83) 1234-5678</p>
            <p class="text-lg p-4">Email: COMPIA@lojavirtual.com</p>
            <p class="text-lg p-4">Endereço: Rua Jonh Person, 1313 - Campina Grande, PB</p>
            </div>
         </main>
            <footer >
                {% include 'partials/footer.html' %}
            </footer>
    </body>
</html>