{% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        <{% include 'partials/head.html' %}
    </head>
    <body class="min-h-screen flex flex-col">
        <header> 
            {% include 'partials/header.html' %}
        </header>
        <main class="flex-grow">
            <h1 class="text-3xl font-bold mb-6 p-4">Ebooks</h1>
           <section id="cards" class="grid grid-cols-3 gap-6 p-4">
               <div class="card bg-base-100 w-96 shadow-sm">
                    <figure>
                        <img class="h-48 w-full object-cover"
                        src= "{% static 'img/icone.jpeg' %}"
                        alt="Livro" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">Ebook Principios da IA</h2>
                        <p>Conceitos básicos sobre IA e principios éticos.</p>
                        <button class="btn btn-primary">Comprar</button>
                        {% include 'partials/car_button.html' %}
                        <button class="btn btn-tertiary"><a href="{% url 'product' %}">Detalhes</a></button>
                    </div>
                </div>
                <div class="card bg-base-100 w-96 shadow-sm">
                    <figure>
                        <img class="h-48 w-full object-cover"
                        src= "{% static 'img/9788576001263.jpg' %}"
                        alt="Livro" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">Inteligência Artificial na Robótica</h2>
                        <p>Conceitos de inteligência artificial para a Robótica.</p>
                        <button class="btn btn-primary">Comprar</button>
                        {% include 'partials/car_button.html' %}
                        <button class="btn btn-tertiary"><a href="{% url 'product' %}">Detalhes</a></button>
                    </div>
                </div>
                 <div class="card bg-base-100 w-96 shadow-sm">
                    <figure>
                        <img class="h-48 w-full object-cover"
                        src= "{% static 'img/capa-ampliada.jpg' %}"
                        alt="Livro" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">IA para Microchips</h2>
                        <p>Abordagem Profunda sobre como a Inteligência Artificial vai impactar nos Microchips.</p>
                        <button class="btn btn-primary">Comprar</button>
                        {% include 'partials/car_button.html' %}
                        <button class="btn btn-tertiary"><a href="{% url 'product' %}">Detalhes</a></button>
                    </div>
                </div>
                <div class="card bg-base-100 w-96 shadow-sm">
                    <figure>
                        <img class="h-48 w-full object-cover"
                        src= "{% static 'img/images2.jpeg' %}"
                        alt="Livro" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">Visão Humanizada da Inteligencia Artificial</h2>
                        <p>Este Ebook aborda a IA sobre uma optica diferente, uma visão humana sobre a máquina.</p>
                        <button class="btn btn-primary">Comprar</button>
                        {% include 'partials/car_button.html' %}
                        <button class="btn btn-tertiary"><a href="{% url 'product' %}">Detalhes</a></button>
                    </div>
                </div>
            </section>
        </main>
        <footer >
            {% include 'partials/footer.html' %}
        </footer>
    </body>
</html>