 {% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        {% include 'partials/head.html' %}
    </head>
    <body class="min-h-screen flex flex-col">
        <header> 
            {% include 'partials/header.html' %}
        </header>
        <main class="flex-grow">
            <h1 class="text-3xl font-bold mb-6 p-4">Produtos em Destaque</h1>
            <section id="cards" class="grid grid-cols-3 gap-6 p-4">
               <div class="card bg-base-100 w-96 shadow-sm">
                    <figure>
                        <img class="h-48 w-full object-cover"
                        src= "{% static 'img/ia-ampliada_ebook_bf0d09cd-51af-4ad9-8a6d-5d4484627894_large.webp' %}"
                        alt="Tênis" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">Inteligência Artificial Ampliada</h2>
                        <p>Livro sobre inteligência artificial e suas aplicações.</p>
                        <button class="btn btn-primary">Comprar</button>
                        {% include 'partials/car_button.html' %}
                        <button class="btn btn-tertiary"><a href="{% url 'product' %}">Detalhes</a></button>
                    </div>
                </div>
                <div class="card bg-base-100 w-96 shadow-sm">
                    <figure>
                        <img class="h-48 w-full object-cover"
                        src= "{% static 'img/icone.jpeg' %}"
                        alt="Tênis" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">Ebook Principios da IA</h2>
                        <p>Conceitos básicos sobre IA e principios éticos</p>
                        <button class="btn btn-primary">Comprar</button>
                        {% include 'partials/car_button.html' %}
                        <button class="btn btn-tertiary"><a>Detalhes</a></button>
                    </div>
                </div>
                 <div class="card bg-base-100 w-96 shadow-sm">
                    <figure>
                        <img class="h-48 w-full object-cover"
                        src= "{% static 'img/capa.webp' %}"
                        alt="Tênis" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">Kit Inteligência Artificial Avançado</h2>
                        <p>Conjunto de materiais para aprendizado de IA para iniciante.</p>
                        <button class="btn btn-primary">Comprar</button>
                        {% include 'partials/car_button.html' %}
                        <button class="btn btn-tertiary"><a>Detalhes</a></button>
                    </div>
                </div>
            </section>
          </main>
            <footer >
                {% include 'partials/footer.html' %}
            </footer>
    </body>
</html>