{% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        {% include 'partials/head.html' %}
    </head>
    <body class="min-h-screen flex flex-col">
        <header> 
            {% include 'partials/header.html' %}
        </header>
        <main class="flex-grow p-4">
             <div class="card lg:card-side bg-base-100 shadow-sm">
                <figure>
                    <img
                    src="{% static 'img/chatgpt-e-inteligencia.jpg' %}"
                    alt="Album" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Kit Inteligência Artificial Iniciante</h2>
                    <p>
                    Contem os Ebook Principios da IA, Inteligencia Artificial na Robotica e Visão Humanizada da Inteligerncia Artificial.
                    O kit é um conjunto de materiais para aprendizado de IA para iniciante. Ideal para quem deseja iniciar 
                    seus estudos em inteligência artificial, oferecendo uma combinação de livros e ebooks que abrangem desde 
                    os conceitos básicos até tópicos avançados, proporcionando uma base sólida para o aprendizado e desenvolvimento 
                    de habilidades em IA.</p>
                </p>
                    </p>
                    <p>Autores: Stwart Jonhson, Pedro Costa, Lamar Strong</p>
                    <p>Ano: 2023, 2021, 2025</p>
                    <p>Preço: R$ 120,00</p>
                    <div class="rating">
                        <div class="mask mask-star" aria-label="1 star"></div>
                        <div class="mask mask-star" aria-label="2 star"></div>
                        <div class="mask mask-star" aria-label="3 star" aria-current="true"></div>
                        <div class="mask mask-star" aria-label="4 star"></div>
                        <div class="mask mask-star" aria-label="5 star"></div>
                    </div>
                    <div class="card-actions justify">
                        {% include 'partials/buy_button.html' %}
                        <button class="btn btn-secondary">Adicionar ao carrinho</button>
                    </div>
                </div>
                </div>   
        </main>
         <footer >
                {% include 'partials/footer.html' %}
            </footer>
    </body>