 {% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        {% include 'partials/head.html' %}
    </head>
    <body class="min-h-screen flex flex-col">
        <header> 
            {% include 'partials/header.html' %}
        
        </header>
        <main class="flex-grow">
            <h1 class="text-3xl font-bold mb-6">Pagamento</h1>
            <p>Esta é a página de pagamento. Aqui você pode finalizar sua compra e escolher a forma de pagamento.</p>
            <p>Em breve, esta página estará funcional para processar pagamentos de forma segura e eficiente.</p>
        <footer>
                {% include 'partials/footer.html' %}
        </footer>
    </body>
</html>