{% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Loja Virtual COMPIA</title>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body class="min-h-screen flex flex-col">
        <header> 
            {% include 'partials/header.html' %}
        </header>
        <main class="flex-grow">
            <h1 class="text-3xl font-bold mb-6">Politica de Privacidade</h1>
            <h2 class="text-2xl font-bold mb-4">Última atualização: 13/03/2026</h2>
            <p class="text-lg p-2">
            A COMPIA , pessoa jurídica de direito privado, inscrita no CNPJ sob n° [Inserir CNPJ] , leva a sua privacidade a sério 
            e zela pela segurança e proteção de dados de todos os seus clientes, parceiros, fornecedores e usuários do site.           
            </p>
            <p class="text-lg p-2">
            Esta Política de Privacidade destina-se a informá-lo sobre como nós utilizamos e divulgamos informações coletadas 
            em suas visitas à nossa plataforma e em mensagens que trocamos com você, em conformidade com a Lei nº 13.709/18 
            (Lei Geral de Proteção de Dados Pessoais - LGPD)             
            </p>
            <P class="text-lg p-2">AO ACESSAR NOSSO SITE, REALIZAR UMA COMPRA OU FORNECER QUALQUER TIPO DE DADO PESSOAL, VOCÊ 
                DECLARA ESTAR CIENTE COM RELAÇÃO AOS TERMOS AQUI PREVISTOS e de acordo com esta Política de Privacidade, a 
                qual descreve as finalidades e formas de tratamento de seus dados pessoais
            </P>
            <h2 class="text-2xl font-bold mb-4">1. Definições</h2>
            <P class="text-lg p-2">Para os fins desta Política de Privacidade, aplicam-se as seguintes definições, em conformidade com a LGPD   
            </P>
            <P class="text-lg p-2">Dado Pessoal: qualquer informação que, direta ou indiretamente, identifique ou possa identificar uma 
                pessoa natural, como nome, CPF, endereço, e-mail, número de telefone, endereço IP, etc.  
            </P>
            <P class="text-lg p-2">Dado Pessoal Sensível: informação sobre origem racial ou étnica, convicção religiosa, opinião política,
                 filiação a sindicato, dado referente à saúde ou à vida sexual, dado genético ou biométrico . Nossa regra é não solicitar este tipo de dado.
            <P class="text-lg p-2">Tratamento: toda operação realizada com dados pessoais, como coleta, produção, recepção, classificação, 
                utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento, armazenamento, eliminação, avaliação, 
                controle, modificação, comunicação, transferência, difusão ou extração 
            </P>
            <P class="text-lg p-2">Controlador: pessoa jurídica a quem competem as principais decisões referentes ao tratamento de dados pessoais. 
                Neste caso, a [Nome da Empresa] é a Controladora dos seus dados  
            </P>
            <p class="text-lg p-2">Etc ...
            </P>
        </main>
            <footer >
                {% include 'partials/footer.html' %}
            </footer>
    </body>
</html>