{% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Loja Virtual COMPIA</title>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body class="min-h-screen flex flex-col">
        <header> 
            {% include 'partials/header.html' %}
        </header>
        <main class="flex-grow">
            <h1 class="text-3xl font-bold mb-6">Termos de Uso</h1>
            <h2 class="text-2xl font-bold mb-4">Última atualização: 13/03/2026</h2>
            <p class="text-lg p-2">
            Bem-vindo à COMPIA . Estes Termos de Uso regulam o acesso e a compra de produtos em nossa plataforma, incluindo livros físicos,
             e-books e kits na área de inteligência artificial.            
            </p>
            <p class="text-lg p-2">
            Ao acessar nosso site ou realizar uma compra, você concorda integralmente com estes termos. Caso não concorde com alguma condição, 
            pedimos que não utilize nossos serviços. A relação entre a [Nome da Empresa] e os usuários 
            é regida pela legislação brasileira, especialmente pelo Código de Defesa do Consumidor (Lei 8.078/90) e pelo Marco Civil da Internet (Lei 12.965/14)             
            </p>
            <h2 class="text-2xl font-bold mb-4">1. Aceitação do Termo</h2>
            <P class="text-lg p-2">Este é um contrato legal entre você Usuário e a COMPIA . Ao navegar, cadastrar-se ou efetuar compras, 
            você declara ter lido, compreendido e aceitado todas as cláusulas aqui dispostas .
            </P>
            <h2 class="text-2xl font-bold mb-4">2. Definições dos Produtos</h2>
            <P class="text-lg p-2">Para os fins deste Termo, nossos produtos são classificados em:  
            </P>
            <P class="text-lg p-2">Para os fins deste Termo, nossos produtos são classificados em:  
            </P>
            <P class="text-lg p-2">-- Livros Físicos: Produtos tangíveis que serão entregues no endereço fornecido pelo cliente. 
            </P>
            <P class="text-lg p-2">-- E-books: Conteúdo digital (formatos como PDF, EPUB) disponibilizado para download ou acesso 
            via plataforma, na área de inteligência artificial 
            </P>
            <P class="text-lg p-2">-- Kits de IA: Conjuntos que podem incluir livros físicos, materiais digitais e, eventualmente,
            componentes físicos para experimentação prática. 
            </P>
        </main>
            <footer >
                {% include 'partials/footer.html' %}
            </footer>
    </body>
</html>

Última atualização: [Inserir Data]


